@using BlazorServerSide.Data
@using BlazorServerSide.Models
@using BlazorServerSide.Features.Vacation
@using BlazorServerSide.Components.Vacation
@using BlazorServerSide.CrossCircuitCommunication
@inherits VacationListBase

<div class="vacationlist">
    <div class="wrapper-overview">
        <ol class="overview">
            @foreach (var vacationkeyvaluepair in vacations)
            {
                var vacation = vacationkeyvaluepair.Value;
                var liked = VacationLiked(vacation);
                var classes = new List<string>();
                if (focusIndex == -1 || focusIndex == vacation.ID)
                {
                    classes.Add("is-active");
                }
                if (focusIndex == vacation.ID)
                {
                    classes.Add("is-special");
                }

                <li class="@string.Join(" ", classes)" @onmouseenter="() => onAction(vacation.ID)" @onmouseleave="() => onAction(-1)">
                    @*<VacationItem Vacation="@vacation" Liked="@liked" OnFavoriteClicked="() => OnFavoriteClicked(vacation)" />*@
                    <Vacation Vacation="@vacation" Liked="liked" OnLikeClicked="() => OnFavoriteClicked(vacation)" OnBooked="(item) => OnBookedAsync(item)" />
                </li>
            }
        </ol>
    </div>
</div>

@code {
    int focusIndex;

    void onAction(int index)
    {
        this.focusIndex = index;
    }
}
