<h2>Parent Title is: @ParentsTitle</h2>

<button @onclick="UpdateParentsTitle">Update Parents Title</button>


@code {

    [Parameter] public string ParentsTitle { get; set; }
    // By convention the bind-infrastructure reacts upon a PropertyChanged EventCallback so that the parent's state is updated
    // The child-component is declared in the parent as follows: <ChildComponent @bind-ParentsTitle="Title" />
    [Parameter] public EventCallback<string> ParentsTitleChanged { get; set; }

    private async Task UpdateParentsTitle()
    {
        var NewTitle = "Hello, From Child Component!";        
        await ParentsTitleChanged.InvokeAsync(NewTitle);
    }
}