.like {
    align-items: center;
    justify-content: center;
    /*width: 30px;
    height: 30px;*/
    display: flex;
    position: absolute;
    z-index: 5;
    top: 5px;
    right: 5px;
    color: white;
    cursor: pointer;
    

    .active {
        color: red;
    }
}
