@page "/"
@namespace BlazorApp1.Pages
@using BlazorServerSide

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlazorApp1</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />

    <!-- temporary vacation item styling -->
    <link rel="preload" href="//cdn2.leisure-nb.net/web/css/a710e79.css?201909241254" as="style" onload="this.onload=null;this.rel='stylesheet'">

    <link rel="preload" href="//cdn2.leisure-nb.net/web/bundles/leisurecore/fonts/geomanist-regular-webfont.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="//cdn2.leisure-nb.net/web/bundles/leisurecore/fonts/geomanist-regular-italic-webfont.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="//cdn2.leisure-nb.net/web/bundles/leisurecore/fonts/geomanist-book-webfont.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="//cdn2.leisure-nb.net/web/bundles/leisurecore/fonts/geomanist-medium-webfont.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="//cdn2.leisure-nb.net/web/bundles/leisurecore/fonts/fapicons.woff" as="font" type="font/woff" crossorigin>


</head>
<body>
    <app>
        @* Remove the following line of code to disable prerendering *@
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>

    <script src="_framework/blazor.server.js" autostart="false"></script>
    <script>
        Blazor.start({
            configureSignalR: function (builder) {
                builder.configureLogging(2); // LogLevel.Information
            }
        });
    </script>
</body>
</html>
