@page "/"
@namespace BlazorApp1.Pages
@inject VacationContext context
@using BlazorServerSide.Data
@using BlazorServerSide.Models

<h3>Index</h3>

@foreach (var vacation in vacations)
{
    @vacation.Title
}

@code {
    List<Vacation> vacations;
    protected override async Task OnInitializedAsync()
    {
        vacations = context.Vacations.ToList();
    }
}
