@page
@{
    ViewData["Title"] = "PageWithBlazorComponent";
}
@using BlazorServerSide.Pages

<h1>PageWithBlazorComponent</h1>

@(await Html.RenderComponentAsync<Counter>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js" autostart="false"></script>
<script>
        Blazor.start({
            configureSignalR: function (builder) {
                builder.configureLogging(2); // LogLevel.Information
            }
        });
</script>