@page "/"
@using BlazorServerSide.Components.VacationList
@using BlazorServerSide.Models

<h3 class="@((string)null)" test="@(new Dictionary<string, bool>{ { "test", true } })">Index</h3>

<VacationList />

