@page "/"
@using BlazorServerSide.Components.Vacation
@using BlazorServerSide.Models
@using BlazorServerSide.Data;

@inject VacationContext context

<h3>Building a Razor component</h3>

<Vacation vacation="vacation" />

@code {
    VacationModel vacation;

    protected override void OnInitialized()
    {
        vacation = context.Vacations.First();
    }
}